.app-header {
    button {
        margin: 0 16px;
    }
    
    .spacer {
        flex: 1 1 auto;
    }
    
    .mat-toolbar {
        background-color: black;
        color: white;
        padding: 0 16%;
    }
    
    .mat-mdc-button:not(:disabled) {
        color: white;
    }
    
    .mat-mdc-outlined-button:not(:disabled) {
        border-color: white;
        color: white;
    }
}